<?xml version ="1.0" encoding="utf-8"?>
<nlog xmlns =" http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile=".\internal_logs\internallog.txt">
	<targets>
		<!-- File target with JSON layout -->
		<target xsi:type="File"
				name="logfile"
				fileName="logs/${shortdate}_logfile.log"
				archiveFileName="logs/archives/logfile-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveFiles="7"
				keepFileOpen="false"
				concurrentWrites="true"
				encoding="utf-8">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile"/>
	</rules>
</nlog>